body{
    background-image: radial-gradient(#E8F3F8, #F4F1DE);
}
.mainheading{
    color: #263238;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
    text-align: center;
    background-color: #DDEBF0;
    display: flex;
    align-items: center;
    padding: 2px;
    position: relative;

}
.title{
    flex: 1;
    text-align: center;
}
.hamburger {
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    color: #263238;
}
.copyright{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    background-color: rgb(114, 184, 239);
    z-index: 10000;
}


.hamburger:hover{
    transform: scale(1.2);
    color: #236354;
}
#map {
    height: 450px;
    width: 650px;
    border: 2px solid rgb(24, 123, 115);
}
.mapbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}
.options {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: rgba(201, 223, 218, 0.85);
    backdrop-filter: blur(10px);
    width: 260px;
    min-height: 500px;
    z-index: 1000;
}
.options.show {
    display: block;
}
.options ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-end;
}
.options li{
    margin: 20px;;
    border: 1px solid black;
    padding: 2%;
    width: 200px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.options li:hover{
    transform: scale(1.1)
}
.optfortemp{
    cursor: pointer;
}
.cursy.manual{
    border: 2px solid black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.cursy{
    cursor: pointer;
}
.cursy:hover{
    text-decoration: underline;
}